body,
html {
    background-color: #fbb6b6;
    flex-wrap: wrap;
    overflow: hidden;
    margin: 0;
}

.logo {
    max-height: 60vh;
    min-height:35vh;
    width: 100vw;
    object-fit: cover;
    background-image: url("https://preview.redd.it/0w3fxkcmiut71.png?auto=webp&s=2e6afea379e8f2cafbeeab570a403b6892e95136");
    background-position: center;
    background-repeat: no-repeat;

    display: grid;
    grid-template-columns: 40vw auto 40vw;
    grid-template-rows: 1fr 1fr;
    Position: relative;
}

.name {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.particles, .czick {
    grid-column: 3 / 4;
    grid-row: 1 / 3;
    min-height: 35vh;
    min-width: 40vw;
    height:auto;
    width:auto;
    object-fit: scale-down;
}


.particles {
    z-index: 10;
}

.name, .particles, .czick {
    max-height: 60vh;
    max-width: 40vw;
}



.buttons{
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-around;
    margin-top:20px;
}

.gallerybutton img, .mebutton img{
    height: 250px;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    margin: 0;

    overflow: hidden;
}

.abutton{
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0;
    width:100vw;
    margin-bottom:1px;
    font-size:150%
}